<main class="max-w-6xl mx-auto ">
  <h1 class="text-5xl font-bold py-16">About jungle</h1>

  <section class="flex flex-col gap-8">
    <h2 class="text-2xl font-semibold underline underline-offset-4"></h2>

    <div class="leading-relaxed max-w-md flex flex-col gap-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aliquid perspiciatis vel alias molestias nam? Quidem nemo molestias dolorem vitae earum dolores error quas quo inventore, eligendi sequi, impedit explicabo!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aliquid perspiciatis vel alias molestias nam? Quidem nemo molestias dolorem vitae earum dolores error quas quo inventore, eligendi sequi, impedit explicabo!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aliquid perspiciatis vel alias molestias nam? Quidem nemo molestias dolorem vitae earum dolores error quas quo inventore, eligendi sequi, impedit explicabo!</p>
    </div>
  </section>
</main>
